*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    background-image:url('/jpg.jpeg');
    background-position:auto;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 6%;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.header{
    padding: 50px,20px,30px,20px;
}
.header h1{
    font-size: 70px;
    color: #fbb034;
    text-shadow: 1px 3px rgba(0,0,0,9);
}

.header input{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #fbb034;
    text-align: center;
    font-size: 30px;
    color: #fbb034;

}
input{
    color:#fff !important;
}
.city{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10px;
   color:#fff;
}
.temp{
    color:#fff;
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 1px 3px rgba(0,0,0,1);
}

.desc{
    font-size: 40px;
    color:chocolate ;
    text-shadow: 1px 3px rgba(0,0,0,1);
    margin-bottom: 10px;
}
.minmax{
    text-shadow: 1px 3px rgba(0,0,0,1);
    font-size: 40px;
    color:chocolate ;
}